@font-face {
  font-family: 'Anzo';
  src: url(./assets/file1.woff2);

}
@font-face {
  font-family: 'Anzo2';
  src: url(./assets/file2.woff2);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}